*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #32495b;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #32495b;
}

li{
  display: inline-block;
}

/* Classi riutilizzabili */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.full-screen{
  width: 100%;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
}

.btn{
  padding: 10px;
  border-radius: 5px;
}

.btn-orange{
  background-color: #fe775a;
  color: white;
}

.btn-white{
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.btn-large{
  padding: 20px;
}

/* Header */
header{
  display: unset;
}

.header-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
  position: sticky;
  z-index: 199;
  top: 0;
  left: 0;
}

.header-bottom{
  height: 80px;
  line-height: 80px;
  background-color: white;
}

header ul li{
  display: inline-block;
  padding: 0 10px;
}

.header-top-left{
  width: 50%;
}

.header-top-left i:last-child{
  border-right: 2px solid grey;
  padding-right: 20px;
}

.header-top-right{
  width: 50%;
  text-align: right;
}

.search{
  color: #01a6be;
}

.header-bottom-left{
  width: 30%;
}

.header-bottom-left img{
  vertical-align: middle;
}

.header-bottom-right{
  width: 70%;
  text-align: right;
}

.header-bottom-right ul li a i{
  padding: 0 10px;
}

.jumbotron{
  height:688px;
  background-color: #fdf6ee;
  background-image: url('../img/jumbotron.png');
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
}

.jumbotron::before{
  width: 100%;
  height: 70px;
  background-color: #aceae3;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}

.jumbotron-items{
  width: 40%;
}

.jumbotron-items h1{
  font-size: 330%;
  padding-top: 70px;
}

.jumbotron-items p{
  padding: 50px 0;
  line-height: 1.6;
}

/* Main */
main{
  background-color: white;
}

.section1{
  background-color: #f4f9fd;
}

/* Powerful-alone */
.powerful-alone{
  text-align: center;
}

.powerful-alone img{
  height: auto;
  width: 300px;
  padding-top: 50px;
}

.powerful-alone h2{
  font-size: 250%;
}

.powerful-alone p{
  padding: 25px 320px;
  line-height: 1.6;
}

/* Crm */
.crm{
  width: 100%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Sezione sinistra con img e titolo */
.crm-left{
  width: 30%;
  height: 100%;
  text-align: center;
  display: block;
  position: relative;
  background-color: white;
}

.crm-left .crm-img{
  width: 45%;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CRM-Illustration.svg");
  background-size: 70%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

.crm .crm-left a{
  position: absolute;
  left: 50%;
  bottom:22%;
  transform: translateX(-50%);
}

/* Sezione destra */
.crm .crm-right{
  width: 70%;
  height: 100%;
  background-color: white;
}

.crm .crm-right-content{
  width: 65%;
}

.crm .crm-right-content h3{
  margin-top: 50px;
  font-size: 23px;
  padding-bottom: 20px;
}

.crm .crm-right-content p{
  line-height: 25px;
  font-size: 15px;
}

.crm .crm-right-content h4{
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 18px;
}

.popolar::after{
  content: '';
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;
}

.crm .crm-right-content li{
  display: inline-block;
  padding-right: 10px;
  padding-left: 0;
  margin-top: 35px;
}

.crm .crm-right-content li i{
  padding-right: 7px;
  color: #ff7a59
}
/* Fine Crm */

/* Sezione servizi formata da 3 colonne */
.box{
  height: 650px;
  margin-bottom: 60px;
}

.three-column-services .triple-box:nth-child(2){
  margin: 0 5%;
}

.triple-box{
  width: 30%;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.triple-box img{
  height: 100px;
  margin-bottom: 20px;
}

.triple-box > :nth-child(3){
  margin-bottom: 30px;
}

.triple-box > :nth-child(3)::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 70px;
}

.popolar-feature{
  font-size: 130%;
  text-transform: uppercase;
  font-weight: 700;
}

.triple-box p{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  line-height: 1.6;
}

.triple-box ul{
  margin-top: 30px;
  text-align: left;
}

.triple-box li{
  display: block;
}

.triple-box i{
  color: #fe775a;
  margin-right: 15px;
}

.triple-box > a{
  display: inline-block;
  margin: 50px 0 5px;
}

/* Sezione analytics */
.analytics{
  height: 680px;
  background-image: linear-gradient(to right, #00aab8, #00bba8);
  padding-top: 60px;
}

/* Sezione Testo */
.text-analytics{
  text-align: center;
  color: white;
  margin-bottom: 60px;
  margin-left: 75px;
  margin-right: 75px;
}

.text-analytics h1{
  font-size: 220%;
  margin-bottom: 30px;
}

.text-analytics p{
  font-size: 16px;
  color: white;
  line-height: 1.6;
}

/* Sezione numeri */
.down-num-boxes{
  border-top: 1px solid white;
}

.num-boxes{
  width: calc(100% / 4);
  height: 50%;
  text-align: center;
  padding: 20px 30px;
}

.divisor{
  border-right: 1px solid white;
}

.num-boxes img{
  height: 35px;
}

.num-boxes p{
  padding: 5px;
}

.num-boxes > :nth-child(2){
  color: white;
  font-size: 250%;
  font-weight: 700;
}

.num-boxes > :nth-child(2)::after{
  content: "+";
  font-size: 60%;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 5px;
}

.num-boxes > :nth-child(3){
  color: white;
  font-size: 90%;
}

/* Sezione customers */
.customers{
  height: 700px;
}

.customers-list{
  padding: 40px 80px;
  height: 300px;
}

.list-num{
  text-align: left;
  width: 25%;
  height: 100%;
  margin-right: 160px;
  margin-top: 18px;
}

.customers-list .list-num h2{
  font-size: 250%;
  margin-bottom: 20px;
}

.customers-list .list-num p{
  width: 70%;
  line-height: 1.6;
}

.list-partners{
  width: calc(70% - 100px);
  height: 100%;
  text-align: center;
}

.box-row{
  height: 50%;
}

.partners-box{
  width: calc(100% / 4);
  height: 100%;
  padding: 20px;
}

.partners-box img{
  max-height: 100%;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}

/* Sezione HubSpot free */
.box-free .free{
  width: 35%;
  height: 400px;
}

.free h1{
  font-size: 200%;
  margin-bottom: 40px;
}

.free p{
  margin-bottom: 60px;
  line-height: 1.6;
}

.free small{
  display: block;
  margin-top: 60px;
}

.box-free .free-img{
  text-align: right;
  width: 60%;
  height: 350px;
}

.free-img img{
  height: 100%;
}

/* Footer */
footer{
  width: 100%;
  background-color: #33475b;
  padding-bottom: 50px;
}

/* Sezione links top */
.footer-top{
  width: 100%;
  margin-bottom: 100px;
}

.footer-top .menu-links{
  width: 100%;
}

.footer-top .menu-links .boxlinks{
  width: calc(100% / 4);
}

/* Contenuto */
.footer-top .menu-links .boxlinks h5{
  font-size: 20px;
  color: white;
  margin: 30px 0;
}

.footer-top .menu-links .boxlinks li{
  display: block;
  line-height: 1.6;
  list-style: none;
  font-size: 15px;
  padding: 5px;
}

.footer-top .menu-links .boxlinks li a{
  color: white;
}

/* Icone Social */
.footer-top .menu-links .boxlinks ul.socials li{
  display: inline;
  font-size: 19px;
}

.footer-top .menu-links .boxlinks ul.socials li i{
  color: white;
  padding-top: 15px;
  padding: 7.5px;
}

.boxlinks .socials{
  padding-top: 10px;
}

/* Sezione lingue */
.lenguage{
  height: 40px;
  text-align: center;
}

.lenguage .container{
  border-bottom: 2px solid white;
}

.lenguage li a{
  color: white;
  font-size: 16px;
  padding: 10px;
}

/* Sezione logo/copyright bottom */
.footer-bottom{
  width: 100%;
  margin-top: 40px;
}

.footer-bottom .copyright{
  width: 100%;
}

/* Parte con logo */
.footer-bottom .copyright .copyright-logo{
  width: 50%;
}

.footer-bottom .copyright .copyright-logo p{
  color: white;
  font-size: 20px;
}

/* Parte privacy policy */
.footer-bottom .copyright .privacy-policy{
  width: 50%;
  text-align: right;
}

.footer-bottom .copyright .privacy-policy ul li{
  padding: 0 5px;
}

.footer-bottom .copyright .privacy-policy ul li a{
  color: white;
  font-size: 15px;
}

/* Fine footer */
