*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #32495b;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #32495b;
}

/* Classi riutilizzabili */
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.full-screen{
  width: 100%;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
}

.btn{
  padding: 10px;
  border-radius: 5px;
}

.btn-orange{
  background-color: #fe775a;
  color: white;
}

.btn-white{
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.btn-large{
  padding: 20px;
}

/* Header */
header{
  display: unset;
}

.header-top{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

.header-bottom{
  height: 80px;
  line-height: 80px;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
}

header ul li{
  display: inline-block;
  padding: 0 10px;
}


.header-top-left{
  width: 50%;
}

.header-top-left i:last-child{
  border-right: 2px solid grey;
  padding-right: 20px;
}

.header-top-right{
  width: 50%;
  text-align: right;
}

.search{
  color: #01a6be;
}

.header-bottom-left{
  width: 30%;
}

.header-bottom-left img{
  vertical-align: middle;
}

.header-bottom-right{
  width: 70%;
  text-align: right;
}

.header-bottom-right ul li a i{
  padding: 0 10px;
}

.jumbotron{
  height:688px;
  background-color: #fdf6ee;
  background-image: url('../img/jumbotron.png');
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.1);
}

.jumbotron::before{
  width: 100%;
  height: 70px;
  background-color: #aceae3;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
}

.jumbotron-items{
  width: 40%;
}

.jumbotron-items h1{
  font-size: 330%;
  padding-top: 70px;
}

.jumbotron-items p{
  padding: 50px 0;
  line-height: 1.6;
}

/* Main */
main{
  height: 1000px;
  background-color: white;
}

.section1{
  background-color: #f4f9fd;
}

/* Powerful-alone */
.powerful-alone{
  text-align: center;
}

.powerful-alone img{
  height: auto;
  width: 300px;
  padding-top: 50px;
}

.powerful-alone h2{
  font-size: 250%;
}

.powerful-alone p{
  padding: 25px 320px;
  line-height: 1.6;
}

/* Crm */
.crm{
  width: 100%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Sezione sinistra con img e titolo */
.crm-left{
  width: 30%;
  height: 100%;
  text-align: center;
  display: block;
  position: relative;
  background-color: white;
}

.crm-left .crm-img{
  width: 45%;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/CRM-Illustration.svg");
  background-size: 70%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

.crm .crm-left a{
  position: absolute;
  left: 50%;
  bottom:22%;
  transform: translateX(-50%);
}

/* Sezione destra */
.crm .crm-right{
  width: 70%;
  height: 100%;
  background-color: white;
}

.crm .crm-right-content{
  width: 65%;
}

.crm .crm-right-content h3{
  margin-top: 50px;
  font-size: 23px;
  padding-bottom: 20px;
}

.crm .crm-right-content p{
  line-height: 25px;
  font-size: 15px;
}

.crm .crm-right-content h4{
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 18px;
}

.popolar::after{
  content: '';
  display: block;
  float: right;
  width: 65%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;
}

.crm .crm-right-content li{
  display: inline-block;
  padding-right: 10px;
  padding-left: 0;
  margin-top: 35px;
}

.crm .crm-right-content li i{
  padding-right: 7px;
  color: #ff7a59
}

/* Fine Crm */

.box{
  height: 500px;
  background-color: yellow;
}

.first-box{
  height: 500px;
  width: 30%;
  background-color: black;
}

.second-box{
  height: 500px;
  width: 30%;
  margin: 0 5%;
  background-color: black;
}

.third-box{
  height: 500px;
  width: 30%;
  background-color: black;
}

.section2{
  height: 500px;
  background-color: lightblue;
}

.box-azzurrino{
  height: 500px;
  background-color: red;
}

.prova-hubstop{
  height: 500px;
  background-color: black;
}
